/* reading mode */
.markdown-preview-view {
    font-family: 'NewComputerModern' !important;
}

/* source view and live preview */
.markdown-source-view.mod-cm6 .cm-scroller {
    font-family: 'NewComputerModern' !important;
}

img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.image-captions-figure {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.image-captions-caption {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
    margin: auto auto !important;
}
